@model AdminPanelV1.Models.Categories

@{
    ViewBag.Title = "Kategori Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Create", "Category", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Kategori Oluştur</h5>
            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-12">
                    <label for="inputPassword4" class="form-label">Resim - Img</label>
                    <input type="file" class="form-control" id="ImgUrl" name="ImgUrl" accept=".jpg,.png,.jpeg">
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-top: 1%">
                        <input type="submit" value="Oluştur" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>