@model AdminPanelV1.Models.Admin

@{
    ViewBag.Title = "Yönetici Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Silmek istediğinize emin misiniz?</h3>
<div class="card alert-danger">
    <div class="card-body">
        <h4 class="card-title">Yönetici</h4>
        <dl class="dl-horizontal">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Auth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Auth)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Geri Dönt", "Admins")
                </div>
            }
    </div>
</div>