@model IEnumerable<AdminPanelV1.Models.SiteIdentity>

@{
    ViewBag.Title = "Site Bilgileri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="float: left">Site Bilgileri</h5>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Keywords)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LogoUrl)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keywords)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src="@item.LogoUrl" width="200px" height="100px" />
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.IdentityId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>